ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../imgs/LogoCompasso.svg);
    background-repeat: no-repeat;
    background-position: 64rem 19rem;
    background-size: 43rem;
}