@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@300;600&display=swap");
ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../imgs/LogoCompasso.svg);
  background-repeat: no-repeat;
  background-position: 64rem 19rem;
  background-size: 43rem;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../imgs/LogoCompasso.svg);
  background-repeat: no-repeat;
  background-position: 64rem 19rem;
  background-size: 43rem;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../imgs/LogoCompasso.svg);
  background-repeat: no-repeat;
  background-position: 64rem 19rem;
  background-size: 43rem;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../imgs/LogoCompasso.svg);
  background-repeat: no-repeat;
  background-position: 64rem 19rem;
  background-size: 43rem;
}

.header {
  display: flex;
  height: 8.1875rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 2.1875rem 2.1875rem;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}
.header .header__container {
  box-sizing: border-box;
  padding: 10px 30px;
  width: 33.4375rem;
  height: 4rem;
  background-color: #6688FF;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.header .header__container .container__title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.375rem;
  color: #ffffff;
}
.header .header__container .container__description {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
}
.header .header__container-Flex {
  display: flex;
  align-items: center;
}
.header .save-delete {
  gap: 1rem;
}
.header .save-delete .btn__style {
  font-family: "Nunito", sans-serif;
  font-size: 1.0625rem;
  color: #ffffff;
}
.header .save-delete .save {
  width: 180px;
  height: 40px;
  border-radius: 0.625rem;
  background-color: #2CBE82;
}
.header .save-delete .delete-localStorage {
  width: 180px;
  height: 40px;
  border-radius: 0.625rem;
  background-color: #DA2B40;
}
.header .hour-date {
  flex-direction: column;
  margin-right: 2rem;
}
.header .hour-date .header__hour {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #3B3E45;
}
.header .hour-date .header__date {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: #3B3E45;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../imgs/LogoCompasso.svg);
  background-repeat: no-repeat;
  background-position: 64rem 19rem;
  background-size: 43rem;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../imgs/LogoCompasso.svg);
  background-repeat: no-repeat;
  background-position: 64rem 19rem;
  background-size: 43rem;
}

.section__add-event {
  height: 7rem;
  width: calc(100vw - 10rem);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}
.section__add-event .input__info {
  width: 30rem;
  height: 3rem;
  border-radius: 0.625rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border: 0.0625rem solid #2CBE82;
  box-sizing: border-box;
  position: relative;
  padding: 0.0625rem 0 0 1rem;
  z-index: 17;
}
.section__add-event .input__info .btn__active-dropdown {
  cursor: pointer;
}
.section__add-event .input__info .container-day {
  margin-left: 1rem;
}
.section__add-event .input__info .input__hour {
  width: 4.2rem;
}
.section__add-event .input__info .input__hour:focus {
  border: 0 none;
  outline: 0;
}
.section__add-event .event-description {
  padding: 0.0625rem 0 0 3rem;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  color: #3B3E45;
}
.section__add-event .event__placeholder {
  position: absolute;
  left: 11rem;
  top: 11.2rem;
  z-index: 26;
  pointer-events: none;
  transition: all 0.3s ease;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  color: #3B3E45;
}
.section__add-event .container__event-description :is(input:focus, input:valid) ~ label {
  transform: translateY(-1.8rem) scale(1);
  padding: 3px;
  font-size: 0.9375rem;
  background-color: #ffffff;
}
.section__add-event .container__dropdown {
  height: 3rem;
}
.section__add-event .container__dropdown .chosen-day, .section__add-event .container__dropdown .hour {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  color: #3B3E45;
}
.section__add-event .container__dropdown .day-week {
  width: 13.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section__add-event .container__dropdown .day-week .container-hour {
  margin-left: 1em;
}
.section__add-event .container__dropdown .day-week .container-hour {
  margin-left: 0em;
}
.section__add-event .container__dropdown .hour {
  width: 6.775rem;
}
.section__add-event .container__dropdown .dropdown__menu {
  list-style: none;
  width: calc(210px - 2rem);
  display: none;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  position: relative;
  left: 0;
  overflow: auto;
  background: rgba(255, 255, 255, 0.968627451);
  overflow: auto;
  padding-top: 12px;
  z-index: 5;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1.5rem 2rem 0.011rem rgba(92, 92, 92, 0.3411764706);
}
.section__add-event .container__dropdown .dropdown__menu .option-day, .section__add-event .container__dropdown .dropdown__menu .option-hour {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: #3B3E45;
  cursor: pointer;
}
.section__add-event .container__dropdown .dropdown__menu .dropdown__menu-divider {
  width: 6rem;
  margin: 0.4rem auto;
}
.section__add-event .container__dropdown .days-options {
  bottom: 0.5rem;
  height: 15rem;
  width: 13rem;
}
.section__add-event .container__dropdown .days-options::-webkit-scrollbar {
  width: 0px;
}
.section__add-event .container__dropdown .hours-options {
  height: 10rem;
  width: 6.5rem;
  left: 0.1rem;
  bottom: 7px;
}
.section__add-event .container__dropdown .hours-options::-webkit-scrollbar {
  width: 5px;
  scroll-behavior: smooth;
}
.section__add-event .container__dropdown .hours-options::-webkit-scrollbar-track {
  padding-top: 3rem;
  border-radius: 10px;
  background-color: #000000;
}
.section__add-event .container__dropdown .hours-options::-webkit-scrollbar-thumb {
  border: 1px solid #3B3E45;
  background-color: #ffffff;
  border-radius: 10px;
}
.section__add-event .container__dropdown .active {
  display: flex;
  -webkit-animation: open__dropdown 0.6s ease-out 0s 1 normal forwards;
          animation: open__dropdown 0.6s ease-out 0s 1 normal forwards;
}
@-webkit-keyframes open__dropdown {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 15rem;
  }
}
@keyframes open__dropdown {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 15rem;
  }
}
.section__add-event .btn__style {
  font-family: "Nunito", sans-serif;
  font-size: 1.0625rem;
  color: #ffffff;
  cursor: pointer;
}
.section__add-event .add {
  width: 222px;
  height: 40px;
  border-radius: 0.625rem;
  background-color: #2CBE82;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__add-event .delete-all {
  width: 184px;
  height: 40px;
  border-radius: 0.625rem;
  background-color: #DA2B40;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__add-event .btn__icon-img {
  margin-right: 0.5rem;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../imgs/LogoCompasso.svg);
  background-repeat: no-repeat;
  background-position: 64rem 19rem;
  background-size: 43rem;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../imgs/LogoCompasso.svg);
  background-repeat: no-repeat;
  background-position: 64rem 19rem;
  background-size: 43rem;
}

.toDoList {
  display: block;
}
.toDoList .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 4rem);
  margin: 0 auto 3.5rem;
}
.toDoList .menu .block__time {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2rem;
  top: 15rem;
  width: 85px;
  height: 75px;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 1.0625rem;
  color: #3B3E45;
}
.toDoList .menu .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: calc(100vw - 15rem);
}
.toDoList .menu .menu-list .bnt__days {
  width: 150px;
  height: 33px;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 9px 9px 0px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 1.0625rem;
  color: #ffffff;
  font-weight: bold;
  transition: width 0.23s ease-in 0s;
}
.toDoList .menu .menu-list .bnt__days:hover {
  width: 11.875rem;
}
.toDoList .menu .menu-list .btn-monday {
  background-color: #FFA246;
}
.toDoList .menu .menu-list .btn-tuesday {
  background-color: #35E185;
}
.toDoList .menu .menu-list .btn-wednesday {
  background-color: #6688FF;
}
.toDoList .menu .menu-list .btn-thursday {
  background-color: #B266FF;
}
.toDoList .menu .menu-list .btn-friday {
  background-color: #66D1FF;
}
.toDoList .menu .menu-list .btn-saturday {
  background-color: #FF66D4;
}
.toDoList .menu .menu-list .btn-sunday {
  background-color: #FF6666;
}
.toDoList .menu .menu-list .bnt__days-active {
  width: 11.875rem;
}
.toDoList .toDoList__board {
  width: calc(100vw - 4rem);
  height: calc(56vh - 1rem);
  overflow-y: auto;
  margin: 0 auto;
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
}
.toDoList .toDoList__board::-webkit-scrollbar {
  width: 16px;
  scroll-behavior: smooth;
}
.toDoList .toDoList__board::-webkit-scrollbar-track {
  padding-top: 3rem;
  border-radius: 10px;
  background-color: #ffffff;
}
.toDoList .toDoList__board::-webkit-scrollbar-thumb {
  border: 4px solid #ffffff;
  background-color: #DCDFE3;
  border-radius: 8px;
}
.toDoList .toDoList__board .toDoList__board-card {
  gap: 1rem;
  display: flex;
}
.toDoList .toDoList__board .toDoList__board-card .card__hour {
  width: 85px;
  height: 85px;
  border-radius: 0.625rem;
  background-color: rgba(102, 136, 255, 0.4);
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.0625rem;
  color: #3B3E45;
  justify-content: center;
}
.toDoList .toDoList__board .toDoList__board-card .card__content {
  box-sizing: border-box;
  height: 5.3125rem;
  width: 32rem;
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: linear-gradient(112.83deg, rgba(255, 255, 255, 0.3444) 0%, rgba(255, 255, 255, 0.336) 110.84%);
  border: 1px solid #FFFFFF;
  border-left: 16px solid #6688FF;
  box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  border-radius: 15px;
}
.toDoList .toDoList__board .toDoList__board-card .card__content .card__content-activity {
  grid-column: 1/3;
  width: 26rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: #333333;
}
.toDoList .toDoList__board .toDoList__board-card .card__content .card__content-btn_erase {
  grid-column: 4/4;
  width: 3.5rem;
  padding: 0.2rem;
  display: flex;
  align-self: flex-start;
  justify-self: center;
  background-color: #98031E;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
}
.toDoList .board-monday {
  display: none;
}
.toDoList .board-tuesday {
  display: none;
}
.toDoList .board-wednesday {
  display: none;
}
.toDoList .board-thursday {
  display: none;
}
.toDoList .board-friday {
  display: none;
}
.toDoList .board-saturday {
  display: none;
}
.toDoList .board-sunday {
  display: none;
}/*# sourceMappingURL=style.css.map */